/* Universal */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #385623;
}

body {
  background-color: beige;
}

/* Header Section*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}

#index-page header {
  padding-bottom: 0;
  margin-bottom: 15px;
  position: relative;
  gap: 0;
}

#menuToggle {
  display: none;
  position: fixed;
  width: 100%;
  background-color: hsl(120, 25%, 85%);
  z-index: 3;
}

#menuToggle figure {
  width: 60px;
  height: 20px;
}

#menuToggle img[src*='logo'] {
  max-width: 100%;
  height: auto;
}

#menuToggle input {
  position: absolute;
  left: 95%;
  width: 40px;
  bottom: 15px;
  height: 24px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  position: relative;
  left: 95%;
  bottom: 15px;
  display: block;
  margin-top: 4px;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #385623;
  border-radius: 3px;
  z-index: 1;
}

#index-page #menuToggle {
  background-color: hsl(120, 25%, 85%);
}

#index-page #menuToggle img {
  display: none;
}

#index-page #menuToggle span {
  background: #385623;
}

#menuToggle span {
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
  transform-origin: 4px 0px;
  /* set to 4px 0px to specify the center of rotation for the transform property above. */
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menu {
  position: absolute;
  left: -1000px;
  top: 80px;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 50px;
  background: beige;
  opacity: 0.95;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transition: left 0.5s;
  background-color: hsl(120, 20%, 80%);
}

#menu li {
  font-size: 22px;
  text-align: center;
  border-bottom: 1px solid #385623;
}

#menu a {
  text-decoration: none;
  display: block;
  padding: 20px 0;
  font-weight: 600;
}

#menu a:hover {
  background-color: hsl(120, 25%, 85%);
  text-shadow: 2px 2px beige;
}

#menu a:active {
  color: beige;
}

#menuToggle input:checked~ul {
  left: 50px;
}

/* Header: Banner Section */

header figure {
  margin-top: 5px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  max-width: 1245px;
  max-height: 422px;
}

#bannerImg {
  max-width: 100%;
  max-height: auto;
  position: relative;
  z-index: 1;
}

#fadeImg {
  position: absolute;
  max-width: 100%;
  max-height: auto;
  z-index: 0;
  top: 5;
  left: 0;
}

.parallax-slider {
  transition: opacity 0.4s ease-in;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  opacity: 1;
}
.transitioning-src {
  transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  opacity: 0;
}

header figcaption {
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 5%;
  font-family: 'Playpen Sans';
  color: beige;
  font-size: 2.35vw;
  opacity: 0.85;
  visibility: hidden;
}

header figure img:hover {
  /* webkit-filter: blur(4px); */
  filter: blur(4px);
  transition: webkit-filter .5s, filter .5s;
}

header figure:hover figcaption {
  visibility: visible;
  transition: visibility .5s;
}

header>div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: 2px solid rgb(104, 99, 99);
  background-color: hsl(120, 20%, 80%);
}

#index-page header>div {
  position: static;
  border-bottom: 0px none beige;
}

#index-page header {
  background-color: hsl(120, 20%, 80%);
}

header>div div {
  max-width: 8%;
}

header img[src*='logo'] {
  max-width: 100%;
  height: auto;
}

/* Header: Nav Section */

nav {
  width: 82.5%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav li {
  list-style: none;
}

nav a {
  display: block;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 5px;
  text-decoration: none;
  font-size: 1vw;
  font-weight: 800;
}

nav a:hover {
  background-color: hsl(120, 25%, 85%);
  border-color: #385623;
}

nav a:active {
  background-color: hsl(120, 20%, 50%);
  margin-top: 5px;
  box-shadow: 0px 0px;
  color: white;
}

/* Main Section */

main {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 65px;
  position: relative;
  top: 100px;
}

#index-page main {
  position: relative;
  top: 100px;
}

#media-page main {
  margin-bottom: 150px;
}

main section {
  margin-bottom: 50px;
}

article {
  margin-bottom: 100px;
  background-color: hsl(120, 20%, 90%);
  border: 1px solid gray;
  border-radius: 25px;
  padding: 10px;
  min-width: 330px;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 60px;
}

#munkatarsak-page h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-align: center;
}

#munkatarsak-page article {
  display: flex;
  align-items: center;
  gap: 20px;
}

#munkatarsak-page article img {
  max-width: 300px;
  height: auto;
  max-height: 450px;
  border-radius: 20px;
}

#munkatarsak-page article > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#munkatarsak-page article p {
  text-align: center;
}

#kutatasok-page h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 1.6rem;
}

#publikaciok-page h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

#media-page h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

main p {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.5;
  max-width: 1300px;
}

#media-page p {
  margin-bottom: 30px;
}

#kapcsolat-page main p {
  font-size: 1.3rem;
}

#egyuttmukodesek-page main p {
  font-size: 1.2rem;
}

#egyuttmukodesek-page article {
  margin-bottom: 20px;
}


.research {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-style: italic;
}

.position {
  font-style: italic;
  text-align: left;
  margin-bottom: 25px;
}

#munkatarsak-page span {
  font-style: italic;
}

#kutatasok-page article span {
  font-weight: bold;
  display: block;
}

#munkatarsak-page main a {
  font-weight: 600;
}

#publikaciok-page main a {
  word-break: break-all;
}

#egyuttmukodesek-page main a {
  word-break: break-all;
}

#kapcsolat-page main a {
  word-break: break-all;
}

#index-page main figure {
  max-width: 200px;
}

main img[src*='logo'] {
  margin-top: 50px;
  max-width: 100%;
  height: auto;
}

#kutatasok-page main figure {
  margin: 0 auto;
  width: 70%;
}

main img[src*='munkafolyamat'] {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#kutatasok-page main figcaption {
  text-align: center;
  font-style: italic;
}

#kapcsolat-page main {
  flex-direction: row;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 75px;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
}

.fb-page {
  max-width: 400px;
  margin-left: 10px;
}

#facebook-holder {
  max-width: 1000px;
}

.next-to-fb {
  max-width: 400px;
  position: relative;
  top: 5px;
}

#map {
  height: 650px;
  max-width: 400px;
  margin-right: 25px;
  box-shadow: 10px 20px hsl(120, 5%, 80%);
}

/* Footer Section */

footer {
  background-color: hsl(120, 15%, 40%);
  padding-bottom: 5px;
  padding-top: 10px;
  position: relative;
  top: 100px;
  box-shadow: 0 50vh 0 50vh hsl(120, 15%, 40%);
}

#index-page footer {
  position: relative;
  top: 100px;
}

footer>div {
  text-align: center;
  padding-left: 135px;
}

footer p {
  color: beige;
  font-style: italic;
  display: inline-block;
}

.fa {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
}

.fa-envelope {
  background: hsl(120, 5%, 20%);
}

#social-links {
  float: right;
  width: 150px;
  margin-top: 40px;
  padding-left: 40px;
}

/* Media Queries */

@media (max-width: 1350px) {
  header {
    gap: 20px;
  }

  header>div div {
    display: none;
  }

  header>div {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  nav {
    width: 100%;
  }

  nav a {
    font-size: 1.15vw;
  }

  .fb-page {
    display: none !important;
  }

  #map {
    max-width: 1000px;
  }

  #kapcsolat-page main {
    justify-content: center;
    gap: 100px;
    align-items: center;
  }

@media (max-width: 1000px) {
  nav a {
    padding: 1.5vw;
  }

  #kapcsolat-page main {
    gap: 25px;
  }

  #map {
    max-width: 300px;
  }
}

@media (max-width: 1024px) {
  header>div {
    display: none;
  }

  #menuToggle {
    display: block;
  }

  #index-page header {
    position: relative;
    top: 50px;
  }
  #index-page header figure {
    padding-top: 0;
  }

  #index-page main {
    position: relative;
    top: 100px;
  }

  #index-page footer {
    position: relative;
    top: 50px;
  }

  main {
    margin-top: -50px;
  }

  #kutatasok-page main figure { 
    width: 100%;
  }
}

@media (max-width: 750px) {
  footer>div {
    text-align: left;
    padding: 0;
  }

  #social-links a {
    float: right;
  }

  main p {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 7vw;
  }
}

@media (max-width: 550px) {
  #kapcsolat-page main {
    flex-direction: column;
    margin-top: -25px;
  }

  #map {
    margin: 0;
  }
}

@media (max-width: 460px) {
  #social-links {
    margin: 0;
    padding: 0;
    max-width: 10%;
    margin-top: 25px;
  }

  #social-links a {
    display: block;
    clear: right;
  }

  .fa-facebook {
    padding-left: 16px;
  }

  .fa-envelope {
    margin-top: 10px;
  }

  #media-page main p {
    border-bottom: 3px dashed #385623;
    padding-bottom: 15px;
  }
}

@media (max-width: 385px) {
  #menu a {
    font-size: 1rem;
  }
}

@media (min-width: 650px) {
  #munkatarsak-page main a {
    font-size: 1.5rem;
  }

  #publikaciok-page main a {
    font-size: 1.5rem;
  }

  main a {
    font-size: 1.5rem;
  }
}
}