/* Universal */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #385623;
}

body {
  background-color: beige;
}

/* Top Nav Section */

#menuToggle {
  display: none;
  position: fixed;
  width: 100%;
  background-color: hsl(120, 20%, 80%);
  z-index: 3;
  padding-bottom: 5px;
}

#menuToggle figure {
  width: 60px;
  height: 20px;
  /* display: none; */
}

#menuToggle img {
  max-width: 100%;
  height: auto;
}

#menuToggle span {
  position: relative;
  display: block;
  left: 95%;
  bottom: 15px;
  margin-top: 4px;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #385623;
  border-radius: 3px;
  z-index: 3;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transform-origin: 4px 0px;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input {
  position: absolute;
  left: 94.5%;
  width: 40px;
  bottom: 22px;
  height: 25px;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~ul {
  left: 50px;
}

#menu {
  position: absolute;
  left: -1600px;
  top: 80px;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 50px;
  background: beige;
  opacity: 0.95;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transition: left 0.5s;
  background-color: hsl(120, 20%, 80%);
  z-index: 2;
}

#menu li {
  font-size: 22px;
  text-align: center;
  border-bottom: 1px solid #385623;
}

#menu a {
  text-decoration: none;
  display: block;
  padding: 20px 0;
  font-weight: 600;
}

#menu #flag-container {
  position: static;
  margin: 0 auto;
  width: 50px;
  height: 30px;
}

ul #flag-li {
  border-bottom-style: none;
}

#menu a:hover {
  background-color: hsl(120, 25%, 85%);
  text-shadow: 2px 2px beige;
}

#menu #flag-container a:hover {
  background-color: initial;
}

#menu a:active {
  color: beige;
}

/* Header Section*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}

#index-page header {
  padding-bottom: 25px;
  margin-bottom: 15px;
  position: relative;
  gap: 0;
}

/* Header: Banner Section */

header figure {
  margin-top: 5px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  max-width: 1245px;
  max-height: 422px;
}

#bannerLogo {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  gap: 50px;
}

#bannerLogo div {
  max-width: 15%;
}

#bannerImg {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

#fadeImg {
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: 0;
  top: 0;
  left: 0;
}

.parallax-slider {
  transition: opacity 0.4s ease-in;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  opacity: 1;
}

.transitioning-src {
  transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  opacity: 0;
}

#navElements {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding-top: 15px;
  padding-bottom: 20px;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  border-bottom: 2px solid rgb(104, 99, 99);
  background-color: hsl(120, 20%, 80%);
}

.english #navElements nav {
  width: 80%;
}

.english #navElements {
  gap: 50px;
}

.media-list-item {
  white-space: nowrap;
}

#flag-container {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
}

#munkatarsak-page header #flag-container {
  top: 30px;
}

#flag-container:hover {
  width: 55px;
  height: 55px;
  transition: width .5s ease-in-out, height .5s ease-in-out;
}

#flag-container img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  cursor: pointer;
}

#index-page #navElements {
  position: static;
  border-bottom: 0px none beige;
  padding-top: 0;
  padding-bottom: 0;
}

#index-page header {
  background-color: hsl(120, 20%, 80%);
  gap: 25px;
}

#logo {
  max-width: 4%;
  position: absolute;
  left: 0;
}

header img[src*='logo'] {
  max-width: 100%;
  height: auto;
}

/* Header: Nav Section */

nav {
  width: 89%;
}

.index-page-en nav {
  width: 80%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav li {
  list-style: none;
}

nav a {
  display: block;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 5px;
  text-decoration: none;
  font-size: 0.95vw; /* #index-page nav a */
  font-weight: 800;
}

nav a:hover {
  background-color: hsl(120, 25%, 85%);
  border-color: #385623;
}

nav a:active {
  background-color: hsl(120, 20%, 50%);
  margin-top: 5px;
  box-shadow: 0px 0px;
  color: white;
}

/* Main Section */

main {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 65px;
  position: relative;
  top: 100px;
}

.index-page-en h1 span {
  display: block;
  font-weight: normal;
}

#index-page main {
  position: relative;
  top: 100px;
}

 #index-page header a {
  font-size: 0.95vw;
 }

#media-page main {
  margin-bottom: 150px;
}

#media-page article {
  padding: 20px;
}

#media-page main p {
  border-bottom: 2px dashed lightgray;
  padding-bottom: 30px;
}

#media-page main p {
  margin-bottom: 0;
}

main section {
  margin-bottom: 50px;
}

article {
  margin-bottom: 100px;
  background-color: hsl(120, 20%, 90%);
  border: 1px solid gray;
  border-radius: 25px;
  padding: 10px;
  min-width: 330px;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 60px;
}

#munkatarsak-page h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-align: center;
}

#munkatarsak-page article {
  display: flex;
  align-items: center;
  gap: 40px;
}

#munkatarsak-page article img {
  max-width: 300px;
  height: auto;
  max-height: 450px;
}

#munkatarsak-page #small-viewport-img {
  display: none;
}

#munkatarsak-page article>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#munkatarsak-page article>div>div {
  margin-bottom: 20px;
}

#munkatarsak-page article p {
  text-align: center;
}

#kutatasok-page #bannerLeft {
  left: 80px;
}

#kutatasok-page #bannerRight {
  right: 80px;
}

#kutatasok-page .banner {
  position: fixed;
  width: 220px;
  height: auto;
}

#kutatasok-page h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 1.6rem;
}

#publikaciok-page main section {
  margin-bottom: 0;
}

#publikaciok-page h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

#publikaciok-page .big-link {
  font-size: 28px;
}

#media-page h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

main p {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.5;
  max-width: 1300px;
}

#media-page p {
  margin-bottom: 30px;
}

#kapcsolat-page main p {
  font-size: 1.3rem;
  font-weight: bold;
  font-style: italic;
}

#csatlakozas-page #joinImg {
  margin-top: 45px;
  width: 851px;
  height: 1201px;
}

#csatlakozas-page h1 {
  margin-bottom: 45px;
}

#csatlakozas-page #joinFigure {
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#kapcsolat-page article a {
  font-size: 20px;
}

#egyuttmukodesek-page main p {
  font-size: 1.4rem;
}

#egyuttmukodesek-page main p:nth-child(1) {
  font-weight: bold;
  font-style: italic;
}

#egyuttmukodesek-page article {
  margin-bottom: 20px;
}

#csatlakozas-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#csatlakozas-page main {
  flex-grow: 1;
  margin-top: 125px;
}

#csatlakozas-page main,
#csatlakozas-page footer {
  position: static;
}

.research {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-style: italic;
}

.position {
  font-style: italic;
  text-align: left;
  margin-bottom: 25px;
}

#munkatarsak-page span {
  font-style: italic;
}

#kutatasok-page article span {
  font-weight: bold;
  display: block;
}

#kutatasok-page article {
  max-width: 1000px;
  margin: 100px auto;
  margin-top: 0;
}

#kutatasok-page h1 {
  margin-bottom: 80px;
}

#munkatarsak-page main a {
  font-weight: 600;
}

#publikaciok-page main a {
  word-break: break-all;
}

#egyuttmukodesek-page main a {
  word-break: break-all;
}

#kapcsolat-page main a {
  word-break: break-all;
}

#index-page main figure {
  max-width: 200px;
}

#index-page main p {
  max-width: 1100px;
}

main img[src*='logo'] {
  margin-top: 50px;
  max-width: 100%;
  height: auto;
}

#kutatasok-page main figure {
  margin: 0 auto;
  width: 70%;
}

#kutatasok-page section {
  padding-bottom: 30px;
  border-bottom: 2px dashed lightgray;
}

main img[src*='munkafolyamat'] {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#kutatasok-page main figcaption {
  text-align: center;
  font-style: italic;
}

#kapcsolat-page main {
  flex-direction: row;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 75px;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
}

.fb-page {
  max-width: 400px;
  margin-left: 10px;
}

#facebook-holder {
  max-width: 1000px;
}

.next-to-fb {
  max-width: 400px;
  position: relative;
  top: 5px;
}

#map {
  height: 650px;
  max-width: 400px;
  margin-right: 25px;
  box-shadow: 10px 20px hsl(120, 5%, 80%);
}

/* Footer Section */

footer {
  background-color: hsl(120, 15%, 40%);
  padding-bottom: 5px;
  padding-top: 10px;
  position: relative;
  top: 100px;
  box-shadow: 0 50vh 0 50vh hsl(120, 15%, 40%);
}

#index-page footer {
  position: relative;
  top: 100px;
}

footer>div {
  text-align: center;
  padding-left: 135px;
}

footer p {
  color: beige;
  font-style: italic;
  display: inline-block;
}

.fa {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
}

.fa-envelope {
  background: hsl(120, 5%, 20%);
}

#social-links {
  float: right;
  width: 150px;
  margin-top: 40px;
  padding-left: 40px;
}

/* Media Queries */

@media (max-width: 1700px) {
  #bannerLogo {
    gap: 20px;
  }
}

@media (max-width: 1670px) {
  #flag-container {
    width: 40px;
    height: 40px;
  }

  #flag-container:hover {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1635px) {
  .non-index nav {
    display: none;
  }

  #menuToggle {
    display: block;
  }

  #bannerLogo div {
    display: none;
  }

  #index-page header {
    top: 50px;
  }

  #index-page header figure {
    padding-top: 0;
  }

  #index-page main {
    position: relative;
    top: 150px;
  }

  #index-page footer {
    position: relative;
    top: 100px;
  }

  main {
    margin-top: -50px;
  }

  .non-index main {
    margin-top: -25px;
  }

  #csatlakozas-page main {
    margin-top: 80px;
  }

  /* header {
    gap: 20px;
  } */

  #navElements {
    display: none;
  }

  .fb-page {
    display: none !important;
  }

  #map {
    max-width: 1000px;
  }

  #kapcsolat-page main {
    justify-content: center;
    gap: 100px;
    align-items: center;
  }

}

@media (max-width: 1175px) {
  #munkatarsak-page article img {
    display: none;
  }

  #munkatarsak-page #small-viewport-img {
    display: inline-block;
    margin-bottom: 25px;
  }

  #munkatarsak-page article>div>div {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  nav a {
    padding: 1.5vw;
  }

  #kapcsolat-page main {
    gap: 25px;
  }

  #map {
    max-width: 300px;
  }
}

@media (max-width: 1024px) {

  #kutatasok-page main figure {
    width: 100%;
  }
}

@media (max-width: 870px) {
  #csatlakozas-page #joinImg {
    width: 700px;
    height: auto;
  }
}

@media (max-width: 750px) {
  footer>div {
    text-align: left;
    padding: 0;
  }

  #social-links a {
    float: right;
  }

  main p {
    font-size: 1.3rem;
  }

  #publikaciok-page main section .big-link {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 7vw;
  }
}

@media (max-width: 720px) {
  #csatlakozas-page #joinImg {
    width: 550px;
  }
}

@media (max-width: 570px) {
  #csatlakozas-page #joinImg {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 550px) {
  #kapcsolat-page main {
    flex-direction: column;
    margin-top: -25px;
  }

  #csatlakozas-page main {
    margin-top: 70px;
    margin-bottom: 50px;
  }

  #map {
    margin: 0;
  }
}

@media (max-width: 460px) {
  #csatlakozas-page #joinFigure {
    width: 105vw;
    overflow: hidden;
  }

  #munkatarsak-page article img {
    max-width: 250px;
    transition: max-width .5s ease-in-out;
  }

  #munkatarsak-page article a {
    font-size: 1rem;
  }

  #social-links {
    margin: 0;
    padding: 0;
    max-width: 10%;
    margin-top: 25px;
  }

  #social-links a {
    display: block;
    clear: right;
  }

  .fa-facebook {
    padding-left: 16px;
  }

  .fa-envelope {
    margin-top: 10px;
  }

  #media-page main p {
    border-bottom: 3px dashed #385623;
    padding-bottom: 15px;
  }
}

@media (max-width: 385px) {
  #menu a {
    font-size: 1rem;
  }
}

@media (min-width: 650px) {
  #munkatarsak-page main a {
    font-size: 1.5rem;
  }

  #publikaciok-page main a {
    font-size: 1.5rem;
  }

  main a {
    font-size: 1.5rem;
  }
}